* {
  font-family: sans-serif;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.7rem;
}
