nav {
  position: fixed;
  z-index: 999;
  pointer-events: none;

  display: flex;
  align-items: center;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: var(--margin);
}

.stack {
  left: var(--margin);
}

.stack a {
  pointer-events: all;
  cursor: pointer;

  position: relative;
  display: block;
  width: 2rem;
  height: 3rem;

  background-color: #000;
  border: 1px solid #fff;

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.stack a:nth-child(1) {
  transform: skew(-30deg) scaleY(0.5);
  z-index: 3;
}
.stack a:nth-child(2) {
  transform: skew(-30deg) scaleY(0.5) translateY(-4rem) translateX(-1.2rem);
  z-index: 2;
}
.stack a:nth-child(3) {
  transform: skew(-30deg) scaleY(0.5) translateY(-8rem) translateX(-2.4rem);
  z-index: 1;
}

.stack a.active {
  margin-left: 1rem;
  background-color: var(--color-active);
}

.categories {
  pointer-events: all;

  position: absolute;
  bottom: var(--margin);
}

.categories button {
  margin-right: 1rem;
}
