.card {
  width: 50%;
  max-width: 30rem;
  height: 30rem;
  max-height: 80%;

  border: 1px solid #000;

  overflow-y: auto;
}

.card__text {
  padding: var(--margin);
}

@media screen and (max-width: 760px) {
  .card {
    width: calc(100% - var(--margin) * 2);
  }
}
