<div class="card">
  <figure>
    <img src="./assets/images/bam-praticable.png" alt="" />
  </figure>
  <div class="card__text">
    <h1>Collectif Bam devient Praticable</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam beatae
      sequi ullam nam expedita earum enim officia nulla repellat, pariatur quas
      fugiat maiores id voluptatum eum mollitia debitis labore et?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam beatae
      sequi ullam nam expedita earum enim officia nulla repellat, pariatur quas
      fugiat maiores id voluptatum eum mollitia debitis labore et?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam beatae
      sequi ullam nam expedita earum enim officia nulla repellat, pariatur quas
      fugiat maiores id voluptatum eum mollitia debitis labore et?
    </p>
  </div>
</div>
